/* Center the form container */
.demande-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

/* Form container */
.demande-form {
    width: 99%;
    max-width: 400px; /* Reduce width */
    padding: 15px; /* Smaller padding */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem; /* Smaller font size */
}

/* Input and Textarea styles */
.demande-form input,
.demande-form textarea {
    width: 100%;
    padding: 8px; /* Smaller padding */
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem; /* Smaller font size */
}

/* Button styles */
.demande-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.demande-submit-button,
.demande-back-button {
    padding: 8px 12px; /* Smaller buttons */
    font-size: 0.85rem; /* Smaller font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.demande-submit-button {
    background-color: #e5673d;
    color: white;
}

.demande-submit-button:hover {
    background-color: #f44336;
}

.demande-back-button {
    background-color: #a0817f;
    color: white;
}

.demande-back-button:hover {
    background-color: #e53935;
}

/* Success and Error Messages */
.success-message {
    color: #4caf50;
    margin-top: 10px;
    font-size: 0.85rem; /* Smaller font size */
    text-align: center;
}

.error-messages {
    margin-top: 10px;
}

.error-message {
    color: #f44336;
    font-size: 0.85rem; /* Smaller font size */
    text-align: center;
}
