/* Modify Profile Page Styles */
.modify-profile-page {
    max-width: 600px;
   
    margin-left: 400px;
    padding: 65px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 16px 11px rgba(0, 0, 0, 0.1);
    color: #ffffff;
   
}

.title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ff7f50;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

input,
textarea {
    background-color: white;
    color: #111010;
    padding: 10px;
    border: 1px solid #b9450f;
    border-radius: 6px;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 80px;
}
input {
    background-color: #ffffff;
    
}
input:focus,
textarea:focus {
    border-color: #ff7f50;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 127, 80, 0.5);
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.save-button,
.cancel-button {
    flex: 1;
    max-width: 150px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.save-button {
    background-color: #ff7f50;
    color: white;
}

.save-button:hover {
    background-color: #ff6f40;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #bbb;
}
