/* General Page Styles */
.requests-page {
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  height: 100vh;
  overflow-y: auto;
  margin-left: 280px;
}

/* Sidebar Styling */
.sidebar {
  flex: 1;
}

/* Title Styling */
.title_req {
  text-align: center;
  font-size: 2.5rem;
  color: #b9450f;
  margin-bottom: 100px;
}

/* Table Styles */
.requests-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensure inner elements respect the border-radius */
}

.requests-table th, 
.requests-table td {
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #beb8b8;
  color: #0c0b0b;
}

.requests-table th {
  background-color: #b9450f;
  color: #fff;
  font-weight: bold;
}

.requests-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.requests-table tr:hover {
  background-color: #ffe6cc;
  cursor: pointer;
}

/* Button Styles */
.accept-button, 
.refuse-button {
  padding: 8px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.accept-button {
  margin-bottom: 5px;
  background-color: #4caf50;
  color: #fff;
  margin-right: 5px;
}

.accept-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.refuse-button {
  background-color: #f44336;
  color: #fff;
}

.refuse-button:hover {
  background-color: #e53935;
  transform: scale(1.05);
}

/* Loading and Error Messages */
.requests-page > div {
  font-size: 1.2rem;
  text-align: center;
  color: #b9450f;
}

/* Responsive Design */
@media (max-width: 768px) {
  .requests-table th, 
  .requests-table td {
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #0c0b0b;
    color: #0c0b0b;
  }
}
